.navBar_header {
  // position: fixed;
  display: flex;
  gap: 5rem;
  inset: auto 0 auto 0;
  z-index: 1000;
  padding: var(--wrapper-lg-side-padding);
  align-items: center;
  transition: all 0.5s ease-in;
  opacity: 1;
  position: fixed;

  .logo {
    margin: 0;
  }

  .nav_container {
    flex-grow: 1;

    .nav_items {
      display: flex;
      align-items: flex-end;
      list-style: none;
      gap: 2rem;
      color: var(--secondary-color);
      font-size: 95%;
      font-weight: 600;

      .nav_item {
        cursor: pointer;
        position: relative;
        padding: 0 0.5em 0.5em;

        &.active {
          color: var(--tertiary-color);

          &::before {
            width: 100%;
          }
        }

        &::before {
          content: "";
          background-color: var(--tertiary-color);
          width: 0%;
          height: 0.1rem;
          border-radius: 10px;
          position: absolute;
          inset: auto 0 0 0;
        }

        a {
          color: var(--tertiary-color);
        }

        &:hover {
          color: var(--tertiary-color);

          &::before {
            animation: LinkHighlighter 1s ease forwards;
          }
        }
      }

      .push_right {
        margin-left: auto;
      }
    }
  }
}

@keyframes LinkHighlighter {
  to {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .nav_item {
    display: none;
  }
}

@media (max-width: 800px) {
  // .navBar_header {
  //   background-color: transparent;
  // }
  .nav_container {
    display: none;
  }

  .left_content {
    .img_logo {
      width: 45px;
    }
  }
}

@media (max-width: 640px) {
  .navBar_header {
    padding: var(--wrapper-sm-side-padding);
  }
}

// dynamic styles

.nav_scroll {
  // background: #3737c1;
  position: fixed;
  background: var(--tertiary-color);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.5s ease-in;
  opacity: 1;
  padding: 0.7rem;
}

.left_content {
  display: flex;
}