#box:hover {
    /* transform: translateY(-1px);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid #0e76a8; */
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.1), 0 16px 30px 0 rgba(0, 0, 0, 0.03), 0 6px 16px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.5s ease;
    border: 1px solid transparent;
}

#box {
    border: 1px solid #e8ecf1;
    /* padding: 30px; */
    cursor: pointer;
    transition: all 0.5s ease;
}

input {
    width: 100%;
    border-radius: 13px;
    padding: 13px;
    border: darkgray;
    background-color: #F5F5F5;
}

.enableButtonSecondaryColors {
    background-color: #0e76a8;
    color: #FFFFFF
}

.enableButtonSecondaryColors:hover {
    background-color: #0e76a8;
    color: #FFFFFF
}

.hello {
    height: 300px;
    width: 100%;
    overflow-y: scroll;
}

img.imageSize {
    width: 100%;
    height: 100%;
    margin-left: 10%;
}

.modal-body {
    padding: 1.5rem;
}

@media only screen and (min-width: 0px) and (max-width: 800px) {
    .ant-divider-vertical {
        display: none;
    }
}