body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color:#5722ff;
  --secondary-color: #6d6bdb;
  --tertiary-color: white;
  --wrapper-lg-side-padding: 1.5em;
  --wrapper-sm-side-padding: 1.5rem;
  --open-sans-font-family: "open sans", sans-serif;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.tertiary-color {
  color: var(--tertiary-color);
}