body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color:#5722ff;
  --secondary-color: #05386b;
  --tertiary-color: #edf5e1;
  --quaternary-color: white;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--primary-color);
}

.tertiary-color {
  color: var(--tertiary-color);
}

.quaternary-color {
  color: var(--quaternary-color);
}